<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Chalkable</title>


</head>

<body>



<div class="container-fluid">


  <ul class="nav nav-pills" id="nav">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/saved">Faves</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/scrape">Scrape</a>
    </li>
  </ul>



  <div class="jumbotron jumbotron-fluid bg-success" id="myJumbotron1">
  <div class="container">
    <h1 class="display-4">Chalk: A SLATE magazine article scraper using MongoDB</h1>
    <p class="lead">Enjoy the contents below. If you want to revisit and article, just click the fave button and navigate to "Faves." If you want to refresh the aricles, just click "Scrape."</p>

    <ul class="nav nav-pills" id="nav">
      <li class="nav-item">
        <a class="nav-link" href="/sort/date/asc">See Newest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sort/date/desc">See Oldest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sort/author">Sort by Author</a>
      </li>
    </ul>

  </div>
</div>

<div class="row">
  {{#each articles}}
    <div class="col-md-4">
      <div class="card text-white bg-success mb-3">
        <div class="card-body">
          <h5 class="card-title">
            <a href={{this.link}} target="_blank">
              <h4 class="title">{{this.title}}
              </h4>
            </a>
          </h5>
          <p class="card-text author" first={{this.authorFirstName}} surname={{this.authorLastName}}><a target="_blank"> {{this.author}}</a></p><p class="time">{{this.time}}</p>
        </div>
        <button type="button" class="btn btn-success save" data-id={{this.id}}>Fave</button>

        <!-- <div class="input-group mb-3 comment-box">
          <input type="text" class="form-control" id={{this.id}} placeholder="Comment" aria-label="Comment" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary add-note" data-id={{this.id}} type="button">Submit</button>
          </div>
        </div> -->

        <!-- <button type="button" class="btn btn-success add-note" data-id={{this.id}}>Comment</button> -->

      </div>
    </div>
  {{/each}}
</div>





  </div>



  <!--modal-->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Welcome to the team!</h5> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 id="modal-body-text" style="text-align: center"></h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End modal -->



  <div class="footer-copyright py-3 text-center">
          © 2018 Copyright: Brandon Gatlin
          <a href="http://brandongatlin.work/"> brandongatlin.work </a>
      </div>

</body>

</html>
