<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Chalkable</title>


</head>

<body>

  <div class="container-fluid">

    <ul class="nav nav-pills" id="nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/saved">Faves</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/scrape">Scrape</a>
      </li>
    </ul>

    <div class="jumbotron jumbotron-fluid bg-success" id="myJumbotron2">
    <div class="container">
      <h1 class="display-4">Chalk: A SLATE magazine article scraper using MongoDB</h1>
      <p class="lead">Enjoy the contents below. If you want to revisit and article, just click the fave button and navigate to "Faves." If you want to refresh the aricles, just click "Scrape."</p>
    </div>
  </div>

  <div class="row">
    {{#each articles}}
    {{#if saved}}
      <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
          <div class="card-body">
            <h5 class="card-title">
              <a href={{this.link}} target="_blank">
                <h4 class="title">{{this.title}}
                </h4>
              </a>
            </h5>
            <p class="card-text">{{this.author}}</p><p class="time">{{this.time}}</p>
          </div>
          <button type="button" class="btn btn-success save" data-id={{this.id}}>Fave</button>
        </div>
      </div>
      {{/if}}
    {{/each}}
  </div>





    </div>





    <div class="footer-copyright py-3 text-center">
            © 2018 Copyright: Brandon Gatlin
            <a href="http://brandongatlin.work/"> brandongatlin.work </a>
        </div>
</body>

</html>
